<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
</head>
<body>

  <div>
    <%= link_to 'pages', :action => 'pages' %>
    <%= link_to 'layouts', :action => 'layouts' %>
    <%= link_to 'assets', :action => 'assets' %>
  </div>

  <%= yield %>
</body>
</html>
